
<!-- Table 1 -->
  <mat-horizontal-stepper>
    <mat-step label="Q1">
       <table class="table table-bordered text-center table-primary">
         <thead>
           <tr>
             <th colspan="7" class="bg-primary">Quaterly Progress of 2020-21</th>
            
           </tr>
         </thead>
         <tbody>
           <tr>
             <th rowspan="3" class="bg-primary">Professional services</th>
             <th colspan="6" class="bg-success">Q1</th>
           </tr>
           <tr>
             <th colspan="2" class="bg-success">April 2020-21</th>
             <th colspan="2" class="bg-success">May 2020-21</th>
             <th colspan="2" class="bg-success">June 2020-21</th>
           </tr>
           <tr>
             <th class="bg-success">Plan</th>
             <th class="bg-success">Actual</th>
             <th class="bg-success">Plan</th>
             <th class="bg-success">Actual</th>
             <th class="bg-success">Plan</th>
             <th class="bg-success">Actual</th>
           </tr>
           <tr>
             <td class="bg-info">Revenue</td>
             <td>125467</td>
             <td>96678</td>
             <td>268653</td>
             <td>35678</td>
             <td>14526</td>
             <td>9876</td>
           </tr>
           <tr>
            <td class="bg-info">Resource Cost</td>
            <td>543268</td>
            <td>356748</td>
            <td>356784</td>
            <td>296789</td>
            <td>78356</td>
            <td>526478</td>
          </tr>
          <tr>
            <td class="bg-info">Gross Margin %</td>
            <td>67</td>
            <td>56</td>
            <td>49</td>
            <td>44</td>
            <td>78</td>
            <td>69</td>
          </tr>
          <tr>
            <td class="bg-info">Billable Heed Count</td>
            <td>7678</td>
            <td>6783</td>
            <td>9873</td>
            <td>6574</td>
            <td>8536</td>
            <td>5378</td>
          </tr>
          <tr>
            <td class="bg-info">Per Person Revenue</td>
            <td>150000</td>
            <td>125000</td>
            <td>175000</td>
            <td>75000</td>
            <td>125000</td>
            <td>100000</td>
          </tr>
          <tr>
            <td class="bg-info">Per Person Cost</td>
            <td>45000</td>
            <td>40000</td>
            <td>50000</td>
            <td>45000</td>
            <td>60000</td>
            <td>55000</td>
          </tr>
         </tbody>
       </table>
    </mat-step>
    <!-- Table 2 -->
    <mat-step label="Q2">
      <table class="table table-bordered text-center table-primary">
        <thead>
          <tr>
            <th colspan="7" class="bg-primary">Quaterly Progress of 2020-21</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="3" class="bg-primary">Professional services</th>
            <th colspan="6" class="bg-success">Q3</th>
          </tr>
          <tr>
            <th colspan="2" class="bg-success">July 2020-21</th>
            <th colspan="2" class="bg-success">August 2020-21</th>
            <th colspan="2" class="bg-success">September 2020-21</th>
          </tr>
          <tr>
            <th class="bg-success">Plan</th>
            <th class="bg-success">Actual</th>
            <th class="bg-success">Plan</th>
            <th class="bg-success">Actual</th>
            <th class="bg-success">Plan</th>
            <th class="bg-success">Actual</th>
          </tr>
          <tr>
            <td class="bg-info">Revenue</td>
            <td>125467</td>
            <td>96678</td>
            <td>268653</td>
            <td>35678</td>
            <td>14526</td>
            <td>9876</td>
          </tr>
          <tr>
           <td class="bg-info">Resource Cost</td>
           <td>543268</td>
           <td>356748</td>
           <td>356784</td>
           <td>296789</td>
           <td>78356</td>
           <td>526478</td>
         </tr>
         <tr>
           <td class="bg-info">Gross Margin %</td>
           <td>67</td>
           <td>56</td>
           <td>49</td>
           <td>44</td>
           <td>78</td>
           <td>69</td>
         </tr>
         <tr>
           <td class="bg-info">Billable Heed Count</td>
           <td>7678</td>
           <td>6783</td>
           <td>9873</td>
           <td>6574</td>
           <td>8536</td>
           <td>5378</td>
         </tr>
         <tr>
           <td class="bg-info">Per Person Revenue</td>
           <td>150000</td>
           <td>125000</td>
           <td>175000</td>
           <td>75000</td>
           <td>125000</td>
           <td>100000</td>
         </tr>
         <tr>
           <td class="bg-info">Per Person Cost</td>
           <td>45000</td>
           <td>40000</td>
           <td>50000</td>
           <td>45000</td>
           <td>60000</td>
           <td>55000</td>
         </tr>
        </tbody>
      </table>
    </mat-step>
    <!-- Table 3 -->
    <mat-step label="Q3">
      <table class="table table-bordered text-center table-primary">
        <thead>
          <tr>
            <th colspan="7" class="bg-primary">Quaterly Progress of 2020-21</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="3" class="bg-primary">Professional services</th>
            <th colspan="6" class="bg-success">Q3</th>
          </tr>
          <tr>
            <th colspan="2" class="bg-success">October 2020-21</th>
            <th colspan="2" class="bg-success">November 2020-21</th>
            <th colspan="2" class="bg-success">December 2020-21</th>
          </tr>
          <tr>
            <th class="bg-success">Plan</th>
            <th class="bg-success">Actual</th>
            <th class="bg-success">Plan</th>
            <th class="bg-success">Actual</th>
            <th class="bg-success">Plan</th>
            <th class="bg-success">Actual</th>
          </tr>
          <tr>
            <td class="bg-info">Revenue</td>
            <td>125467</td>
            <td>96678</td>
            <td>268653</td>
            <td>35678</td>
            <td>14526</td>
            <td>9876</td>
          </tr>
          <tr>
           <td class="bg-info">Resource Cost</td>
           <td>543268</td>
           <td>356748</td>
           <td>356784</td>
           <td>296789</td>
           <td>78356</td>
           <td>526478</td>
         </tr>
         <tr>
           <td class="bg-info">Gross Margin %</td>
           <td>67</td>
           <td>56</td>
           <td>49</td>
           <td>44</td>
           <td>78</td>
           <td>69</td>
         </tr>
         <tr>
           <td class="bg-info">Billable Heed Count</td>
           <td>7678</td>
           <td>6783</td>
           <td>9873</td>
           <td>6574</td>
           <td>8536</td>
           <td>5378</td>
         </tr>
         <tr>
           <td class="bg-info">Per Person Revenue</td>
           <td>150000</td>
           <td>125000</td>
           <td>175000</td>
           <td>75000</td>
           <td>125000</td>
           <td>100000</td>
         </tr>
         <tr>
           <td class="bg-info">Per Person Cost</td>
           <td>45000</td>
           <td>40000</td>
           <td>50000</td>
           <td>45000</td>
           <td>60000</td>
           <td>55000</td>
         </tr>
        </tbody>
      </table>
    </mat-step>
    <!-- Table 4 -->
    <mat-step label="Q4">
      <table class="table table-bordered text-center table-primary">
        <thead>
          <tr>
            <th colspan="7" class="bg-primary">Quaterly Progress of 2020-21</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="3" class="bg-primary">Professional services</th>
            <th colspan="6" class="bg-success">Q4</th>
          </tr>
          <tr>
            <th colspan="2" class="bg-success">January 2020-21</th>
            <th colspan="2" class="bg-success">February 2020-21</th>
            <th colspan="2" class="bg-success">March 2020-21</th>
          </tr>
          <tr>
            <th class="bg-success">Plan</th>
            <th class="bg-success">Actual</th>
            <th class="bg-success">Plan</th>
            <th class="bg-success">Actual</th>
            <th class="bg-success">Plan</th>
            <th class="bg-success">Actual</th>
          </tr>
          <tr>
            <td class="bg-info">Revenue</td>
            <td>125467</td>
            <td>96678</td>
            <td>268653</td>
            <td>35678</td>
            <td>14526</td>
            <td>9876</td>
          </tr>
          <tr>
           <td class="bg-info">Resource Cost</td>
           <td>543268</td>
           <td>356748</td>
           <td>356784</td>
           <td>296789</td>
           <td>78356</td>
           <td>526478</td>
         </tr>
         <tr>
           <td class="bg-info">Gross Margin %</td>
           <td>67</td>
           <td>56</td>
           <td>49</td>
           <td>44</td>
           <td>78</td>
           <td>69</td>
         </tr>
         <tr>
           <td class="bg-info">Billable Heed Count</td>
           <td>7678</td>
           <td>6783</td>
           <td>9873</td>
           <td>6574</td>
           <td>8536</td>
           <td>5378</td>
         </tr>
         <tr>
           <td class="bg-info">Per Person Revenue</td>
           <td>150000</td>
           <td>125000</td>
           <td>175000</td>
           <td>75000</td>
           <td>125000</td>
           <td>100000</td>
         </tr>
         <tr>
           <td class="bg-info">Per Person Cost</td>
           <td>45000</td>
           <td>40000</td>
           <td>50000</td>
           <td>45000</td>
           <td>60000</td>
           <td>55000</td>
         </tr>
        </tbody>
      </table>
    </mat-step>

    <!-- Table 5 -->
    <mat-step label="Full Year">   
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th colspan="25" class="bg-primary">Quaterly progress of 2020-21</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="3" class="bg-primary">Professional Services</td>
            <td colspan="6" class="bg-success">Q1</td>
            <td colspan="6" class="bg-success">Q2</td>
            <td colspan="6" class="bg-success">Q3</td>
            <td colspan="6" class="bg-success">Q4</td>
          </tr>
          <tr class="bg-success">
            <!-- <td></td> -->
            <td colspan="2">April 2020</td>
            <td colspan="2">May 2020</td>
            <td colspan="2">June 2020</td>
            <td colspan="2">July 2020</td>
            <td colspan="2">August 2020</td>
            <td colspan="2">September 2020</td>
            <td colspan="2">October 2020</td>
            <td colspan="2">November 2020</td>
            <td colspan="2">December 2020</td>
            <td colspan="2">January 2020</td>
            <td colspan="2">February 2020</td>
            <td colspan="2">March 2020</td>
          </tr>
          <tr class="bg-success">
            <!-- <td></td> -->
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
            <td>Plan</td>
            <td>Actual</td>
          </tr>
          <tr>
            <td class="bg-info">Revenue</td>
               <td>125467</td>
               <td>96678</td>
               <td>268653</td>
               <td>35678</td>
               <td>14526</td>
               <td>9876</td>
               <td>125467</td>
              <td>96678</td>
              <td>268653</td>
              <td>35678</td>
              <td>14526</td>
              <td>9876</td>
              <td>125467</td>
              <td>96678</td>
              <td>268653</td>
              <td>35678</td>
              <td>14526</td>
              <td>9876</td>
              <td>125467</td>
              <td>96678</td>
              <td>268653</td>
              <td>35678</td>
              <td>14526</td>
              <td>9876</td>
          </tr>
          <tr>
            <td class="bg-info">Resouce Cost</td>
              <td>543268</td>
              <td>356748</td>
              <td>356784</td>
              <td>296789</td>
              <td>78356</td>
              <td>526478</td>
              <td>543268</td>
              <td>356748</td>
              <td>356784</td>
              <td>296789</td>
              <td>78356</td>
              <td>526478</td>
              <td>543268</td>
             <td>356748</td>
             <td>356784</td>
             <td>296789</td>
             <td>78356</td>
             <td>526478</td>
             <td>543268</td>
             <td>356748</td>
             <td>356784</td>
             <td>296789</td>
             <td>78356</td>
             <td>526478</td>
          </tr>
          <tr>
            <td class="bg-info">Gross Margin</td>
            <td>67</td>
              <td>56</td>
              <td>49</td>
              <td>44</td>
              <td>78</td>
              <td>69</td>
              <td>67</td>
             <td>56</td>
             <td>49</td>
             <td>44</td>
             <td>78</td>
             <td>69</td>
             <td>67</td>
             <td>56</td>
             <td>49</td>
             <td>44</td>
             <td>78</td>
             <td>69</td>
             <td>67</td>
             <td>56</td>
             <td>49</td>
             <td>44</td>
             <td>78</td>
             <td>69</td>
          </tr>
          <tr>
            <td class="bg-info">Billable Head Count</td>
            <td>7678</td>
             <td>6783</td>
             <td>9873</td>
             <td>6574</td>
             <td>8536</td>
             <td>5378</td>
            <td>7678</td>
             <td>6783</td>
             <td>9873</td>
             <td>6574</td>
             <td>8536</td>
             <td>5378</td>
             <td>7678</td>
             <td>6783</td>
             <td>9873</td>
             <td>6574</td>
             <td>8536</td>
             <td>5378</td>
             <td>7678</td>
              <td>6783</td>
              <td>9873</td>
              <td>6574</td>
              <td>8536</td>
              <td>5378</td>
          </tr>
          <tr>
            <td class="bg-info">Per Person Revenue</td>
            <td>543268</td>
              <td>356748</td>
              <td>356784</td>
              <td>296789</td>
              <td>78356</td>
              <td>526478</td>
              <td>543268</td>
              <td>356748</td>
              <td>356784</td>
              <td>296789</td>
              <td>78356</td>
              <td>526478</td>
              <td>543268</td>
             <td>356748</td>
             <td>356784</td>
             <td>296789</td>
             <td>78356</td>
             <td>526478</td>
             <td>543268</td>
             <td>356748</td>
             <td>356784</td>
             <td>296789</td>
             <td>78356</td>
             <td>526478</td>
          </tr>
          <tr>
            <td class="bg-info">Per Person Cost</td>
            <td>125467</td>
               <td>96678</td>
               <td>268653</td>
               <td>35678</td>
               <td>14526</td>
               <td>9876</td>
               <td>125467</td>
              <td>96678</td>
              <td>268653</td>
              <td>35678</td>
              <td>14526</td>
              <td>9876</td>
              <td>125467</td>
              <td>96678</td>
              <td>268653</td>
              <td>35678</td>
              <td>14526</td>
              <td>9876</td>
              <td>125467</td>
              <td>96678</td>
              <td>268653</td>
              <td>35678</td>
              <td>14526</td>
              <td>9876</td>
          </tr>
        </tbody>
        </table>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  